<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="./css/styles.css" />
    <title>About</title>
     <link rel="icon" href="/img/weather.png">
  </head>
  <body>
    <div class="main-content">
      {{>header}}
    
     <img class="portrait"
      src="img/Quori_socially_interactive_robot_platform_IMG_20200219_165323219_02.jpg"
    />

    </div>
  
      {{>footer}}
  
  </body>
</html>
